<ng-container *ngIf="person">
  <h1>{{person.firstName}}'s Profile</h1>
  <form class="personDetails" [formGroup]="form" (ngSubmit)="savePerson()">
    <label>ID</label>
    <input type="text" formControlName="id">

    <label>First name</label>
    <input type="text" formControlName="firstName" size="30">

    <label>Last name</label>
    <input type="text" formControlName="lastName" size="30">

    <label>Email address</label>
    <input type="text" formControlName="username" size="30">

    <label>Role</label>
    <mat-select formControlName="roles" multiple>
      <mat-select-trigger *ngIf="form.controls.roles as roles">
        {{roles.value[0].name || ''}}
        <span *ngIf="roles.value?.length > 1">
          (+{{roles.value.length - 1}} others)
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let role of person.roles" [value]="role">{{role.name}}
      </mat-option>
    </mat-select>

    <label>Password</label>
    <input type="password" formControlName="password" size="30">

    <button type="submit">Save changes</button>
    <input type="button" class="del" (click)="deletePerson()" value="Delete person">
  </form>

  <h2>Multiple choice answers</h2>
  <div class="multiple-choice-table table">
    <app-multiple-choice-table [personId]='person.id'></app-multiple-choice-table>
  </div>

  <h2>Task Submissions</h2>
  <div class="submission-table table">
    <app-submission-table [personId]='person.id'>
    </app-submission-table>
  </div>

</ng-container>
