h1{
    font: bold 2em 'Roboto Condensed Light';
    padding: 0.5em 1em;
    letter-spacing: -0.03em;
}

p{
    font: 300 12pt Roboto Light;
 
    max-width: 40%;
}

.welcome{
    padding: 0 0 4em 2em;
    background-color: orange;
}

.start{
    padding: 1em 2em;
    background-color: lightskyblue;
}
