<div class="modal-card">
  <nav class="tabs is-boxed is-fullwidth is-large">
    <div class="container">
      <ul>
        <li id="tab-sign-in" class="tab is-active" (click)="openTab('Sign-in')"><a>Login</a></li>
        <li id="tab-sign-up" class="tab" (click)="openTab('Sign-up')"><a>Register</a></li>
      </ul>
    </div>
  </nav>
  <div id="Sign-in" class="content-tab">
    <form [formGroup]="frmLogin">
      <section class="modal-card-body">

        <div>
          <p>Email</p>
          <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input autocomplete="on" matInput formControlName="email"  type="email" placeholder="">
          </mat-form-field>
        </div>

        <div>
          <p>Password</p>
          <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input autocomplete="on" matInput formControlName="password" type="password" placeholder="">
          </mat-form-field>
        </div>


      </section>
    </form>

    <footer class="modal-card-foot">
      <div class="buttons">
        <button id="button-submit-login" (click)="submitLogin()" type="submit" class="button">Login</button>
        <button (click)="cancel()" type="button" [ngStyle]="{backgroundColor: '#3da4bf'}" class="button">Cancel</button>
      </div>
    </footer>
  </div>

  <div id="Sign-up" class="content-tab" style="display:none">
    <form [formGroup]="frmSubscribe">
      <section class="modal-card-body">

        <div>
          <p>First Name</p>
          <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input autocomplete="on" matInput formControlName="firstName" type="text" placeholder="">
          </mat-form-field>
        </div>

        <div>
          <p>Last Name</p>
          <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input autocomplete="on" matInput formControlName="lastName" type="text" placeholder="">
          </mat-form-field>
        </div>

        <div>
          <p>Email</p>
          <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input autocomplete="on" matInput formControlName="email" type="email" placeholder="">
          </mat-form-field>
        </div>

        <div>
          <p>Password</p>
          <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input autocomplete="on" matInput formControlName="password" type="password" placeholder="">
          </mat-form-field>
        </div>

      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button id="button-submit-register" (click)="submitRegistration()" type="submit"
            class="button">Register</button>
          <button (click)="cancel()" type="button"[ngStyle]="{backgroundColor: '#3da4bf'}" class="button">Cancel</button>
        </div>
      </footer>
    </form>
  </div>

</div>