<button class="admin-button" (click)="navigateToAdminPanel()">Admin panel</button>

<ng-container *ngIf="person">
    <h1>{{person.firstName}}'s Profile</h1>
    <form class="personDetails" [formGroup]="personDetailsForm" (ngSubmit)="savePerson()">
        <label>ID</label>
        <input type="text" formControlName="id">

        <label>First name</label>
        <input type="text" formControlName="firstName" size="30">

        <label>Last name</label>
        <input type="text" formControlName="lastName" size="30">

        <label>Email address</label>
        <input type="text" formControlName="email" size="30">

        <label>Role</label>
        <mat-select formControlName="role">
            <mat-option [value]="role" *ngFor="let role of roles" disableRipple>{{role}}</mat-option>
        </mat-select>

        <label>Password</label>
        <input type="password" formControlName="password" size="30">

        <button class="button" type="submit">Save changes</button>
        <input type="button" class="del" (click)="deletePerson()" value="Delete person">
    </form>

    <div class="submission-table">
        <app-submission-table [personId]='person.id'>
        </app-submission-table>
    </div>

</ng-container>