<!-- We load the task and show the description -->
<ng-container *ngIf="selectedLanguage && task">
  <div class="container">
    <h1 class="assignment-header">Risk IT Test</h1>

    <div class="lists-outer-container">
      <div class="list-container">
        <p class="header-one">{{task.headerOne}}</p>
        <ul class="assignment-list" *ngFor="let item of taskDescriptionOne">
          <li>{{item}}</li>
        </ul>
      </div>

      <div class="list-container">
        <p class="header-two">{{task.headerTwo}}</p>
        <ul class="assignment-list" *ngFor="let item of taskDescriptionTwo">
          <li>{{item}}</li>
        </ul>
      </div>

      <div class="list-container">
        <div *ngFor="let item of taskSpecificDescription | keyvalue">
          <p class="header-three">
            {{item.key}}:
          </p>
          <p class="task-specific-description">
            {{item.value}}
          </p>
        </div>
      </div>
    </div>

    <div class="ace-editor-container">
      <ace-editor editor [(text)]="text" [mode]="selectedLanguage.language" [theme]="selectedLanguage.editorTheme"
        (textChanged)="onChange($event)" [readOnly]="false" class="ace-editor"></ace-editor>
      <div class="output-container">
        <p class="your-output">Your Output:</p>
        <ul>
          <li>
            {{this.codeResult}}
          </li>
        </ul>
      </div>
    </div>

    <button (click)="evaluateCode()" mat-button>
        <mat-progress-spinner [diameter]="36" *ngIf="loading; else run" style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
    </button>

    <ng-template #run>
      Run
    </ng-template>

    <div class="test-overview">
      <div class="test-overview-inner-container">
        <h1>Test overview</h1>
        <p class="test-overview-subheader">
          Submit your code to see how many tests pass.
        </p>
        <ul class="test-list">
          <li *ngFor="let test of tests; let i = index">
            <mat-icon *ngIf="!test" class="icon-failed-test">not_interested</mat-icon>
            <mat-icon *ngIf="test" class="icon-passed-test">check</mat-icon>
          </li>
        </ul>
      </div>
    </div>
    <button (click)="submitCode()" mat-button>
        <mat-progress-spinner [diameter]="36" *ngIf="loadingSubmit; else submit" style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
    </button>

    <ng-template #submit>
      Submit Code
    </ng-template>


    <!-- TODO: change the ng ifs with something better -->
    <div>
      <button *ngIf="completeTask()" (click)="goToTask()" mat-raised-button>
        Next Task
      </button>

    </div>
    <br>

    <app-canvas class="canvas" [(results)]="tests"></app-canvas>
  </div>
</ng-container>
