<!-- We load the task and show the description -->
<ng-container *ngIf="selectedLanguage && task">
  <div [innerHTML]="task.description"></div>
  <div [innerHTML]="taskSpecificDescription"></div>
  <ace-editor editor [(text)]="text" [mode]="selectedLanguage.language" [theme]="selectedLanguage.editorTheme"
  (textChanged)="onChange($event)" [readOnly]="false" class="ace-editor"></ace-editor>
  
  <br>
  
  <button (click)="evaluateCode()" mat-raised-button color="warn">Run</button>
  <!-- TODO why a special behavior for javascript? -->
  <app-javascript-task *ngIf="selectedLanguage.language === 'javascript'"></app-javascript-task>

  <div>
    Your Output:
    <ul>
      <li>
        {{this.codeResult}}
      </li>
    </ul>
  
  </div>
    <!-- We create the same button twice, if the user is not logged in the functionality will be that of logging in rather than submitting -->
    
    <div>
      <br>
        Submit your code and try to turn on all the lights to complete the task. (This can take a few seconds)
      <br>
    </div>
    
    <button (click)="submitCode()" mat-raised-button color="warn">
      Submit Code
    </button>
  <div>
    <br>
    <li *ngFor="let te of tests; let i = index">
      <span *ngIf="isTest(i+1)" [ngClass]="{
        'dot-green' : te,
        'dot-red' : !te
     }">
      </span>
    </li>
  </div>
  <!-- TODO: change the ng ifs with something better -->
  <div>
    <button *ngIf="completeTask(1)" (click)="goToTask(2)" mat-raised-button color="warn">
      Next Task
    </button>
    <button *ngIf="completeTask(2)" (click)="goToTask(3)" mat-raised-button color="warn">
      Next Task
    </button>
    <div *ngIf="completeTask(3)">
      <b>Congratulations!</b> you finished the code challenge!
    </div>
  </div>
  <br>
  
</ng-container>