<!-- We load the task and show the description -->
<ng-container *ngIf="selectedLanguage && task">
  <h1 class="assignmentHeader_h1">Risk IT Test</h1>
  <p>Your task is to implement part of a text processing library. The following are assumptions and definitions that
    limit the scope of the task:</p>
  <ul class="assignmentList">
    <li>Word: To simplify, a word is represented by a sequence of one or more characters between "a" and "z" or between
      "A" and "Z").
      For example "agdfBh".</li>
    <li>Letter Case: When counting frequencies, we are interested in the case insensitive frequency (i.e. in the text
      "The sun shines over the lake", the library should count 2 occurrences for any of the words "the" or "The" or
      "tHE" etc).</li>
    <li>Input Text: The input text contains words separated by various separator characters. Note that the characters
      from "a" and "z" and from "A" and "Z" can only appear within words.</li>
  </ul>
  <p>Implement the three methods defined in this interface</p>
  <ul class="assignmentList">
    <li>`Calculate highest frequency` should return the highest frequency in the text (several words might actually have
      this frequency)</li>
    <li>`Calculate frequency for word` should return the frequency of the specified word</li>
    <li>`Calculate most frequent n words` should return a list of the most frequent "n" words in the input text, all the
      words returned in lower case. If several words have the same frequency, this method should return them in
      ascendant alphabetical order (for input text "The sun shines over the lake" and n = 3, it should return the list
      [("the", 2), ("lake", 1), ("over", 1)]</li>
  </ul>
  <p>&nbsp;</p>

  <ul *ngFor="let item of taskSpecificDescription | keyvalue">
    <li>
      {{item.key}}
    </li>
    <li>
      {{item.value}}
    </li>
  </ul>
  <ace-editor editor [(text)]="text" [mode]="selectedLanguage.language" [theme]="selectedLanguage.editorTheme"
    (textChanged)="onChange($event)" [readOnly]="false" class="ace-editor"></ace-editor>

  <br>

  <button (click)="evaluateCode()" mat-raised-button color="warn">Run</button>
  <!-- TODO why a special behavior for javascript? -->
  <app-javascript-task *ngIf="selectedLanguage.language === 'javascript'"></app-javascript-task>

  <div>
    Your Output:
    <ul>
      <li>
        {{this.codeResult}}
      </li>
    </ul>

  </div>
  <!-- We create the same button twice, if the user is not logged in the functionality will be that of logging in rather than submitting -->

  <div>
    <br>
    Submit your code and try to turn on all the lights to complete the task. (This can take a few seconds)
    <br>
  </div>

  <button (click)="submitCode()" mat-raised-button color="warn">
    Submit Code
  </button>
  <div>
    <br>
    <li *ngFor="let te of tests; let i = index">
      <span *ngIf="isTest(i+1)" [ngClass]="{
        'dot-green' : te,
        'dot-red' : !te
     }">
      </span>
    </li>
  </div>
  <!-- TODO: change the ng ifs with something better -->
  <div>
    <button *ngIf="completeTask(1)" (click)="goToTask(2)" mat-raised-button color="warn">
      Next Task
    </button>
    <button *ngIf="completeTask(2)" (click)="goToTask(3)" mat-raised-button color="warn">
      Next Task
    </button>
    <div *ngIf="completeTask(3)">
      <b>Congratulations!</b> you finished the code challenge!
    </div>
  </div>
  <br>

</ng-container>