<!-- header example -->
<nav class="navbar">
  <img class="ordinaLogo" src="../assets/sprites/Logo_pay-off_rgb_diap.png">
  <!-- possibly add Ordina logo -->
  <div class="navbar-brand">
    <!-- If the user is logged in we want to show the button for his account, otherwise we show the login button -->
    <button *ngIf="!checkLogin()" class="navbarButton" (click)="loginWindow(subscribeComponent)" mat-raised-button
      style="position: absolute; top: 22px; right: 20px; font-size: 18px;">Login</button>
    <button *ngIf="checkLogin()" class="navbarButton" (click)="myAccount()" type="button" mat-raised-button
      style="position: absolute; top: 22px; right: 20px; font-size: 18px;">My Account</button>
    <button *ngIf="checkLogin()" class="logoutButton" (click)="logout()" type="button" mat-raised-button
      style="position: absolute; top: 22px; right: 160px; font-size: 18px;">Logout</button>
  </div>
</nav>

<!-- routes will be rendered here -->
<router-outlet></router-outlet>