@import "variables.scss";

nav.navbar{
    background-color: $darkGray;
    height: 5rem;
}
button{
    &.navbarButton{
        background-color: $ordinaOrange;
    }
    &.logoutButton{
        background-color: $ontdekkingBright;
    }
}
img.ordinaLogo{
    height: 4rem;
    margin: auto 0;
}