@import "variables.scss";

.navbar{
    background-color: $darkGray;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}
.button{
    background-color: $ordinaOrange;
    align-self: center;
    margin: 1rem;
    &.logout_button{
        background-color: $ontdekkingBright;
    }
}
.ordinaLogo{
    align-self: center;
    height: 4rem;
    margin: 0.5rem 0
}