<!-- We load the task and show the description -->
{{taskDescription}}

<ace-editor editor [(text)]="text" [mode]="setLanguageOptions('mode')" [theme]="setLanguageOptions('theme')"
  (textChanged)="onChange($event)" [readOnly]="false" class="ace-editor"></ace-editor>


<br>

<button (click)="runCode()" mat-raised-button color="warn">Run</button>
<app-javascript-task *ngIf="loadJavaScriptTask"></app-javascript-task>

<div>
  <button (click)="openModal(subscribeComponent)" mat-raised-button color="warn">
    Submit Code
  </button>
</div>