mat-card{
    width: fit-content;
    background-color: #2879ff;
}

a{
    color:black;
}

table{
    margin-left: 1rem;
    width: 80%;
    .u-capitalize:first-letter{
        text-transform: capitalize;
    }
    th{
        text-align: right;
    }
}