mat-card {
  width: fit-content;
  background-color: #f58220;
  color: white;
}

a {
  color: white;
}

table {
  margin-left: 1rem;
  width: 80%;

  .u-capitalize:first-letter {
    text-transform: capitalize;
  }

  th {
    color: white;
    text-align: right;
  }
}
