<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>
<br>

<ng-container *ngIf="(languageNames$ | async) as languageNames">

  <app-dropdown [inputValue]="languageNames" labelText="Select a Language" (valueOutput)="onSelect($event)">
  </app-dropdown>
  
</ng-container>

<div>
  <ul>
    <li *ngFor="let item of tasksCorrect[lang]; let i = index">
      {{selectedLanguage}} task {{i+1}} has {{tasksCorrect[lang][i]}} out of {{taskTests[i]}} tests correct 
      <button (click)="goToTask(i)" type="button" mat-raised-button color="primary">Go to task</button>
    </li>
  </ul>
  <div *ngIf="scorePython > 0">
    Score for Python: {{scorePython}}
  </div>
  <div *ngIf="scoreJava > 0">
    Score for Java:
  </div>
  <div *ngIf="scoreJavascript > 0">
    Score for Javascript:
  </div>
</div>
<br>

<button (click)="goHome()" type="button" mat-raised-button color="primary">Home</button>

