<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>
<br>

<ng-container *ngIf="(languageNames$ | async) as languageNames">

  <app-dropdown [inputValue]="languageNames" labelText="Select a Language" (valueOutput)="onSelect($event)">
  </app-dropdown>
  
</ng-container>

<div>
  <ul>
    <li *ngFor="let item of tasksCorrect[lang]; let i = index">
      {{selectedLanguage}} task {{i+1}} has {{tasksCorrect[lang][i]}} out of {{taskTests[i]}} tests correct 
      <button class="button" (click)="goToTask(i)" type="button" mat-raised-button>Go to task</button>
      Score for task {{i+1}}: {{pointsTasks[lang][i]}}
    </li>
  </ul>
  
  <div>
    Score for Java: {{scoreJava}}
  </div>
  <div>
    Score for Python: {{scorePython}}
  </div>
  <div>
    Score for Javascript: {{scoreJavascript}}
  </div>
</div>
<br>

<button class="button" (click)="goHome()" type="button" mat-raised-button>Home</button>
<button class="button" (click)="goAdmin()" type="button" mat-raised-button *ngIf="isAdmin">Admin</button>

