<div class="scores">  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
  <br>
  <div>
    Select your language and check your progress. The higher the score the better.
    <br>
    You can also check out how you measure up against other developers, by clicking on the Leaderboard at the top right.
  </div>
  <ng-container *ngIf="(languageNames$ | async) as languageNames">

    <app-dropdown [inputValue]="languageNames" labelText="Select a language" (valueOutput)="onSelect($event)">
    </app-dropdown>

  </ng-container>

  <ul>
    <li *ngFor="let item of tasksCorrect[lang]; let i = index">
      {{selectedLanguage}} task {{i+1}} has {{tasksCorrect[lang][i]}} out of {{taskTests[i]}} tests correct 
      <button class="button" (click)="goToTask(i)" type="button" mat-raised-button>Go to task</button>
      Score for task {{i+1}}: {{pointsTasks[lang][i]}}
    </li>
  </ul>

  <div>
    Score for Java: {{scoreJava}}
  </div>
  <div>
    Score for Python: {{scorePython}}
  </div>
  <div>
    Score for Javascript: {{scoreJavascript}}
  </div>
  <div>
    Score for Scala: {{scoreScala}}
  </div>
  <div>
    Score for C#: {{scoreCSharp}}
  </div>
</div>
<br>

<button class="button" (click)="goHome()" type="button" mat-raised-button>Home</button>
<button class="button" (click)="goAdmin()" type="button" mat-raised-button *ngIf="isAdmin">Admin</button>
<button class="button" (click)="goToFeedbackScreen()" type="button" mat-raised-button>Send feedback</button>
<button class="button" (click)="removeAccount()" type="button" mat-raised-button>Remove account</button>

