<mat-form-field>
    <mat-label>{{labelText}}</mat-label>
    <mat-select (selectionChange)="setValue($event)">
        <ng-container *ngFor="let value of inputValue">
            <mat-option [value]="value">
                <!-- The languages should be stored lowercase in the databse, We change them hear to have the correct value in the dropdown -->
                <div *ngIf="value=='java'">
                    Java
                </div>
                <div *ngIf="value=='python'">
                    Python
                </div>
                <div *ngIf="value=='javascript'">
                    JavaScript
                </div>
                <div *ngIf="value=='scala'">
                    Scala
                </div>
                <div *ngIf="value=='csharp'">
                    C#
                </div>
            </mat-option>
        </ng-container>
    </mat-select>
</mat-form-field>