<nav class="navbar">
  <h1>
    Admin Panel
  </h1>
  <div class="navbar-brand">
    <button [ngClass]="getClass('users')" (click)="router.navigate(['admin/users'])" mat-raised-button>Users</button>
    <button [ngClass]="getClass('tasks')" (click)="router.navigate(['admin/tasks'])" mat-raised-button>Tasks</button>
    <button [ngClass]="getClass('multiplechoice')" (click)="router.navigate(['admin/multiplechoice'])"
      mat-raised-button>MultipleChoice</button>
    <button [ngClass]="getClass('feedback')" (click)="router.navigate(['admin/feedback'])"
      mat-raised-button>Feedback</button>
  </div>
</nav>

<router-outlet></router-outlet>
