h1{
    margin: 1em;
    font-size: 1.5em;
    font-weight: 700;
}

h2{
    margin: .75em;
    font-size: 1.25em;
    font-weight: 500;
}

.tasks{
    margin: 1em;
}

.person-table{
    margin: 1em;
}