.data-table{
  width: fit-content;
}

.mat-row{
  transition: .5s;
}

/* TODO: fix table sizing  */
.mat-cell{
  width: fit-content;
}

tr.answer-row {
  height: 0;
}

tr.submission-row:hover {
  background: #99ccd3;
}

.submission-row td {
  border-bottom-width: 0;
}

.answer-container {
  display: flex;
  height: fit-content;
  white-space: normal;
  overflow: auto;
  text-overflow: clip;
}

.mat-column-answer.cdk-column-answer{
  width: fit-content;
  max-width: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}