/* You can add global styles to this file, and also import other style files */
@import './sass/variables';
@import './sass/mixins';

@import '~bulma/bulma.sass';

.modal {
  pointer-events: none !important;
}

.modal-content {
  pointer-events: all !important;
}

// This is needed to make sure the background doesn't go over the form.
.modal-background {
  z-index: -1;
}

h1{
  font: 600 2rem 'Roboto Condensed Light',arial,sans-serif;
  padding: 1rem;
}

h2{
  font: 700 1.5rem 'Roboto Condensed',arial,sans-serif;
  padding: 0.75rem;
}

p, a, label, input{
  font: 300 12pt 'Roboto Light';
}
