/* You can add global styles to this file, and also import other style files */
@import '~bulma/bulma.sass';

.modal {
  pointer-events: none !important;
}

.modal-content {
  pointer-events: all !important;
}

// This is needed to make sure the background doesn't go over the form.
.modal-background {
  z-index: -1;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.assignmentList {
  padding:20px;
  list-style: circle;
}

.assignmentHeader_h1 {
    font-size: 300%;
}
.assignmentHeader_h2 {
  font-size: 200%;
}
