/* You can add global styles to this file, and also import other style files */
@import "variables.scss";
@import "mixins.scss";

@import "~bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.modal {
  pointer-events: none !important;
}

.modal-content {
  pointer-events: all !important;
}

// This is needed to make sure the background doesn't go over the form.
.modal-background {
  z-index: -1;
}

.dot-red {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dot-green {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.ul {
  margin: 4px;
}

h1 {
  font: 700 24px "Roboto Condensed Light", bold, sans-serif;
}

h2 {
  font: 700 16px "Roboto Condensed Light", bold, sans-serif;
  white-space: pre;
}

li {
  font: 300 16px "Roboto", arial, sans-serif;
}

p,
a,
label,
input {
  font: 300 12pt "Roboto Light";
}

.button {
  background-color: $ordinaOrange;
  color: white;
  margin: 1rem;
  &.mat-raised-button {
    margin: 1rem;
  }
}

td {
  padding: 12px;
}

input {
  width: 1000px;
}

.mat-radio-label-content {
  white-space: pre; 
}

.task-specific-description {
  white-space: pre; 
}

.mat-elevation-z8 {
  width: 100%;
}