$ordinaOrange: #f58220;
$lichtGrijs: #e1e1e1;

$ontdekking1: #007f92;
$ontdekking2: #3399a8;
$ontdekking3: #66b2be;
$ontdekking4: #99ccd3;
$ontdekking5: #cce5e9;

$versnelling1: #3da4bf;
$versnelling2: #64b6cc;
$versnelling3: #8bc8d9;
$versnelling4: #b1dbe5;
$versnelling5: #d8edf2;

