$ordinaOrange: #f58220;
$darkGray: #58595b;
$lightGray: #e1e1e1;

// Part of the names are dutch because that is the name Ordina gave the colours.
$ontdekkingDarkest: #007f92;
$ontdekkingDark: #3399a8;
$ontdekkingMedium: #66b2be;
$ontdekkingBright: #99ccd3;
$ontdekkingBrightest: #cce5e9;

$versnellingDarkest: #3da4bf;
$versnellingDark: #64b6cc;
$versnellingMedium: #8bc8d9;
$versnellingBright: #b1dbe5;
$versnellingBrightest: #d8edf2;
